
<div class="row" ng-controller="ChangePasswordAct">
	<div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
		<form action="javascript:void(0)" class="well form-horizontal" ng-submit="sbchange()" method="post" id="contact_form">
			<fieldset>
				
				<div class="form-group">
					<label class="col-md-4 control-label">Password*</label>  
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
							<input name="password" placeholder="Password" class="form-control password"  type="password">
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-4 control-label">Comfirm Password*</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
							<input name="confirm_password" placeholder="Comfirm Password" class="form-control confirm_password" type="password">
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-4 control-label"></label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<div class="col-md-8 wapper-captcha1"><img src="/users/captcha" class="captcha" alt=""></div>
							<div class="col-md-4 reload"> <span class="btn btn-success reload_captcha cursor-point" style="margin-top: 5px;">
								<i class="fa fa-refresh" aria-hidden="true" style="font-size: 1.4em;"></i></span>
							</div>
							<br/><br/>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-4 control-label"></label>  
						<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-qrcode"></i></span>
							<input type="text" name="captcha" class="form-control" id="captcha" placeholder="Captcha">
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-4 control-label"></label>
					<div class="col-md-4">
						<button class="btn btn-warning">Submit<span class="glyphicon glyphicon-send"></span></button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<script src="/js/myapp/snj_custom.js"></script>