<div class="clearfix"></div><br/>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">VND</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">USD</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">KRW</a></li>
    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
		<div class="clearfix"></div><br/>
		<div class="col-md-3"><input type="text" name="VND" class="form-control" ng-change="VNDChange(VND)" ng-model="VND" placeholder="VND"></div>
		<div class="clearfix"></div><br/>	
		<ul style="margin-left: 15px;">
			<li><b>{{TO_VND() | currency : 'VND ': 0}}</b></li><br>
			<li><b>{{TO_USD() | currency : 'USD '}}</b></li><br>
			<li><b>{{TO_KRW() | currency : 'KRW ': 0}}</b></li>
		</ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    	<div class="clearfix"></div><br/>
    	<div class="col-md-3"><input type="text" name="USD" class="form-control" ng-change="USDChange(USD)" ng-model="USD" placeholder="USD"></div>
    	<div class="clearfix"></div><br/>	
    	<ul style="margin-left: 15px;">
    		<li><b>{{TO_USD() | currency : 'USD '}}</b></li><br>
    		<li><b>{{TO_VND() | currency : 'VND ': 0}}</b></li><br>
    		<li><b>{{TO_KRW() | currency : 'KRW ': 0}}</b></li>
    	</ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
    	<div class="clearfix"></div><br/>
    	<div class="col-md-3"><input type="text" name="KRW" class="form-control" ng-change="KRWChange(KRW)" ng-model="KRW" placeholder="KRW"></div>
    	<div class="clearfix"></div><br/>	
    	<ul style="margin-left: 15px;">
    		<li><b>{{TO_USD() | currency : 'KRW '}}</b></li><br>
    		<li><b>{{TO_USD() | currency : 'USD '}}</b></li><br>
    		<li><b>{{TO_VND() | currency : 'VND ': 0}}</b></li>
    	</ul>

    </div>
    
  </div>

</div>

<script type="text/javascript">
	$('.nav-tabs a').click(function (e) {
		e.preventDefault()
		$(this).tab('show')
	})
</script>