
<div class="row">
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="wapper-content">
			<h4> <a href="#/personalinfomation">Personal Information <i class="fa fa-edit float-right"> Edit</i></a></h4>
			<table id="example" class="display table" style="width: 100%; cellspacing: 0;">
				<tbody>
					<tr>
						<td><label class="box-title">USERNAME</label> </td>
						<td>{{users.username}}</td>
					</tr>
					<tr>
						<td><label class="box-title">PASSWORD</label> </td>
						<td><a href="#/changepassword">Change Password <i class="fa fa-edit"></i></a></td>
					</tr>
					<tr>
						<td><label class="box-title">FULLNAME</label> </td>
						<td>{{users.fullname}}</td>
					</tr>
					<tr>
						<td><label class="box-title">EMAIL</label> </td>
						<td>{{users.email}}</td>
					</tr>
					<tr>
						<td><label class="box-title">ADDRESS</label> </td>
						<td>{{users.address}}</td>
					</tr>
					<tr>
						<td><label class="box-title">COMPANY</label></td>
						<td>{{users.company}}</td>
					</tr>
					<tr>
						<td><label class="box-title">PHONE</label>  </td>
						<td>{{users.tel}}</td>
					</tr>
					<tr>
						<td><label class="box-title">DESCRIPTIONS</label>   </td>
						<td>{{users.description}}</td>
					</tr>
				</tbody>
		   </table>  
		</div>
		
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="wapper-content">
			<h4>Default Shipping Address</h4>
			<p>No default shipping address available</p>
			<i class="btn btn-warning fa fa-plus"></i>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="wapper-content">
			<h4>Default Billing Address</h4>
			<p>No default billing address available</p>
			<i class="btn btn-warning fa fa-plus"></i>
		</div>
	</div>
</div>
