
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="wapper-content">
			<div class="main-content-shop ">
				Search
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="wapper-content">
			<div class="main-content-shop ">
				<a href="#/addinquiry" class="float-right btn btn-success"><i class="fa fa-plus" style="color:#fff;"></i></a> 
				<br/>
				<table id="datatable2" class="table table-sm"" cellspacing="0" width="100%">
					<thead class="table-success">
						<tr>
							<th class="text-center">#</th>
							<th class="text-center">Ref.No</th>
							<th class="text-center">Vessel</th>
							<th class="text-center" style=" width: 80px;">Status</th>
							<th class="text-center" style=" width: 80px;">Created</th>
							<th class="text-center"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, inquirie) in inquiries">
							<td class="text-center"><a href="#/inquirydetails/{{inquirie.id}}">#{{inquirie.id}}</a></td>
							<td class="text-center">{{inquirie.ref}}</td>
							<td class="text-center">{{inquirie.vessel}}</td>
							<td class="text-center">{{inquirie.status}}</td>
							<td class="text-center">{{inquirie.created | date : "dd.MM.y" }}</td>
							<td class="text-center">
								<a Onclick="return ConfirmDelete();" href="#/delete-inquiry/{{inquirie.id}}"> <i class="fa fa-trash"></i></a>
								
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
   
    function ConfirmDelete(){
        var x = confirm("Are you sure you want to delete?");
        if (x)
            return true;
        else
            return false;
    }
</script>
