<div ng-controller="InquirySearchFormCtrl">
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="wapper-content">
			
			<form class="form-horizontal"  ng-submit="InquirySearchForm()">
				<div class="form-group form-group-sm">
					<div class="col-sm-2">
						<label class=" control-label" for="sm">Ref No</label>
						<input class="form-control" type="text" placeholder="Ref No" ng-model="formdata.ref">
					</div>
					<div class="col-sm-3">
						<label class="control-label" for="sm">Vessel</label>
						<input class="form-control" type="text" placeholder="Vessel Name" ng-model="formdata.vessel">
					</div>
					<div class="col-sm-3">
						<label class="control-label" for="sm">IMO No</label>
						<input class="form-control" type="text" placeholder="IMO No" ng-model="formdata.imo_no">
					</div>
					<div class="col-sm-2">
						<label class="control-label" for="sm">Hull No</label>
						<input class="form-control" type="text" placeholder="HULL No" ng-model="formdata.hull_no">
					</div>
					<div class="col-sm-2">
						<label class="control-label" for="sm">Status</label>
						<select ng-model="formdata.status" class="form-control">
							<option  selected value="">--Select an option--</option>
							<option value="true">Actived</option>
							<option value="false">Deactived</option>
						</select>
					</div>
				</div>
				<label class="" for="sm">Create</label>
				<div class="form-group form-group-sm">
					<div class="col-sm-2">
						<input type="date" class="form-control" id="firstDay" ng-model="firstDay" placeholder="Start"/>
					</div>
					<div class="col-sm-2">
						<input class="form-control" type="date" id="lastDay" ng-model="lastDay" placeholder="End">
					</div>
				</div>
				<button type="submit" ngClick="Submit" class="btn btn-success">Search</button>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="wapper-content">
			<div class="main-content-shop ">
				<a href="#/addinquiry" class="float-right btn btn-success"><i class="fa fa-plus" style="color:#fff;"></i></a> 
				<br/>
				<table id="datatable2" class="table table-sm"" cellspacing="0" width="100%">
					<thead class="table-success">
						<tr>
							<th class="text-center1">#</th>
							<th class="text-center1">Ref No</th>
							<th class="text-center1">Vessel</th>
							<th class="text-center1">IMO No</th>
							<th class="text-center1">HULL No</th>
							<th class="text-center1" style="width: 80px;">Status</th>
							<th class="text-center1" style="width: 90px;">Created</th>
							<th class="text-center1"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, inquirie) in inquiries">
							<td class="text-center1"><a href="#/inquirydetails/{{inquirie.id}}">#{{inquirie.id}}</a></td>
							<td class="text-center1">{{inquirie.ref}}</td>
							<td class="text-center1">{{inquirie.vessel | cut:true:50:' ...'}}</td>
							<td class="text-center1">{{inquirie.imo_no}}</td>
							<td class="text-center1">{{inquirie.hull_no}}</td>
							<td class="text-center1">{{inquirie.status}}</td>
							<td class="text-center1">{{inquirie.created | date : "dd.MM.y" }}</td>
							<td class="text-center1">
								<a Onclick="return ConfirmDelete();" href="#/delete-inquiry/{{inquirie.id}}"> <i class="fa fa-trash"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>
<script type="text/javascript">
	function ConfirmDelete(){
		var x = confirm("Are you sure you want to delete?");
		if (x)
			return true;
		else
			return false;
	}
</script>


