
<div class="row">
	<h4 class="margin-left15">Orders</h4>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="wapper-content1">
			<div class="main-content-shop ">
				<table class="table" id="order-builder" >
				<!-- <table id="datatable2" class="table table-sm"" cellspacing="0" width="100%"> -->
					<thead class="table-success">
						<tr>
							<th class="text-center">Order #</th>
							<th class="text-center">Name</th>
							<th class="text-center">Email</th>
							<th class="text-center">Phone</th>
							<th class="text-center">Status</th>
							<th class="text-center">Total</th>
							<th class="text-center">Placed on</th>
							<th class="text-center"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="order in orders" id="orders_obj_{{order.id}}">
							<td class="text-center"><a href="#/order_received/{{order.id}}">#{{order.id}}</a></td>
							
							<td class="text-center">{{order.fullname}}</td>
							<td class="text-center">{{order.email}}</td>
							<td class="text-center">{{order.phone}}</td>
							<td class="text-center">{{order.status}}</td>
							<td class="text-center">{{order.Total | currency : "$ " : 2}}</td>
							<td class="text-center">{{order.created | date : "dd.MM.y" }}</td>
							<td class="text-center">
								<span class="md-primary navButton cursor-point" confirmed-click="delete_order(order.id)" ng-confirm-click="Would you want to delete?"> <i class="fa fa-trash"></i></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>