<div ng-controller="PersonalInfomationAct">
<div class="row">
	<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
		<!-- <form class="well form-horizontal" ng-submit="form_info()" >
			<fieldset>
				<input class="users_id" ng-model="users.id" type="text" style=" display: none;position: absolute;">
				<div class="form-group">
					<label class="col-md-4 control-label">Username *</label> 
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="username" placeholder="Username" disabled="disabled" class="form-control username" ng-model="users.username"  type="text">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">Fullname *</label>  
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
							<input  name="fullname" placeholder="Full Name" class="form-control fullname" ng-model="users.fullname"  type="text">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">E-Mail *</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
							<input name="email" placeholder="E-Mail Address" class="form-control email"  ng-model="users.email"  type="text">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">Phone *</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
							<input name="tel" placeholder="Phone" class="form-control tel" ng-model="users.tel" type="text">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">Address *</label>  
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
							<input name="address" placeholder="Address" class="form-control address" ng-model="users.address" type="text">
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-4 control-label">Company *</label>  
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
							<input name="company" placeholder="Company" class="form-control company" ng-model="users.company" type="text">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">Description *</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
							<textarea class="form-control description" ng-model="users.description" name="description" placeholder="Description"></textarea>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label"></label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<div class="col-md-8 wapper-captcha1"><img src="/users/captcha" class="captcha" alt=""></div>
							<div class="col-md-4 reload"> <span class="btn btn-success reload_captcha cursor-point" style="margin-top: 5px;"><i class="fa fa-refresh" aria-hidden="true" style="font-size: 1.4em;"></i></span></div><br/></br/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label"></label>  
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-qrcode"></i></span>
							<input type="text" name="captcha" class="form-control" placeholder="Captcha" id="captcha" ng-model="users.captcha">   
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label"><?php echo __("");?></label>
					<div class="col-md-4">
						<button type="submit" class="btn btn-warning" >Submit <span class="glyphicon glyphicon-send"></span></button>
					</div>
				</div>

			</fieldset>
		</form> -->
		<form name="frm_info" class="well form-horizontal" ng-submit="form_info()" novalidate>
		
			<div class="form-group" ng-class="{ 'has-error' : frm_info.username.$invalid && !frm_info.username.$pristine }">
				<label class="col-md-4 control-label">Username *</label> 
				<div class="col-md-4 inputGroupContainer">
				<input type="text" name="username" class="form-control" disabled="disabled" ng-model="users.username" required>
				<p ng-show="frm_info.username.$invalid && !frm_info.username.$pristine" class="help-block">Your username is required.</p>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : frm_info.fullname.$invalid && !frm_info.fullname.$pristine }">
				<label class="col-md-4 control-label">Fullname *</label> 
				<div class="col-md-4 inputGroupContainer">
				<input type="text" name="fullname" class="form-control" ng-model="users.fullname" required>
				<p ng-show="frm_info.fullname.$invalid && !frm_info.fullname.$pristine" class="help-block">Your fullname is required.</p>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : frm_info.email.$invalid && !frm_info.email.$pristine }">
				<label class="col-md-4 control-label">Email *</label> 
				<div class="col-md-4 inputGroupContainer">
				<input type="email" name="email" class="form-control" ng-model="users.email" placeholder="Email*" required>
				<p ng-show="frm_info.email.$invalid && !frm_info.email.$pristine" class="help-block">Enter a valid email.</p>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : frm_info.phone.$invalid && !frm_info.phone.$pristine }">
				<label class="col-md-4 control-label">Phone *</label> 
				<div class="col-md-4 inputGroupContainer">
					<input type="text" name="phone" class="form-control" ng-model="users.tel" placeholder="Phone Number" ng-minlength="10" ng-maxlength="12" ng-pattern="/^\d+$/" required>
					<p ng-show="frm_info.phone.$error.pattern" class="help-block">Not a valid number!</p>
					<p ng-show="frm_info.phone.$error.minlength" class="help-block">Phone Number is too short.</p>
					<p ng-show="frm_info.phone.$error.maxlength" class="help-block">Phone Number is too long.</p>
				</div>
			</div>
			
			<div class="form-group" ng-class="{ 'has-error' : frm_info.address.$invalid && !frm_info.address.$pristine }">
				<label class="col-md-4 control-label">Address *</label> 
				<div class="col-md-4 inputGroupContainer">
					<input type="text" name="address" class="form-control" ng-model="users.address" placeholder="Address*" required>
					<p ng-show="frm_info.address.$invalid && !frm_info.address.$pristine" class="help-block">Your address is required.</p>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : frm_info.company.$invalid && !frm_info.company.$pristine }">
				<label class="col-md-4 control-label">Company *</label> 
				<div class="col-md-4 inputGroupContainer">
				<input type="text" name="company" class="form-control" ng-model="users.company" placeholder="Company Name*" required>
				<p ng-show="frm_info.company.$invalid && !frm_info.company.$pristine" class="help-block">Your company is required.</p>
				</div>
			</div>

			
			<div class="form-group" ng-class="{ 'has-error' : frm_info.description.$invalid && !frm_info.description.$pristine }">
				<label class="col-md-4 control-label">Description *</label> 
				<div class="col-md-4 inputGroupContainer">
					<input type="text" name="description" class="form-control" ng-model="users.description" placeholder="description*" required>
					<p ng-show="frm_info.description.$invalid && !frm_info.description.$pristine" class="help-block">Your description is required.</p>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<div class="col-md-8 wapper-captcha1"><img src="/users/captcha" class="captcha" alt=""></div>
						<div class="col-md-4 reload"> <span class="btn btn-success reload_captcha cursor-point" style="margin-top: 5px;"><i class="fa fa-refresh" aria-hidden="true" style="font-size: 1.4em;"></i></span></div><br/></br/>
					</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : frm_info.captcha.$invalid && !frm_info.captcha.$pristine }">
				<label class="col-md-4 control-label">Captcha *</label> 
				<div class="col-md-4 inputGroupContainer">
					
					<input type="text" name="captcha" class="form-control" ng-model="users.captcha" id="captcha" placeholder="captcha*" required>
					<p ng-show="frm_info.captcha.$invalid && !frm_info.captcha.$pristine" class="help-block">Your captcha is required.</p>
				</div>
			</div>
		
			<button type="submit" class="btn btn-primary" ng-disabled="frm_info.$invalid">Submit</button>
		</form>
	
	</div>
</div>
</div>
<script src="/js/myapp/snj_custom.js"></script>
