
<div class="row" ng-controller="ChangeUserInfoAct">
	<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
		<form action="javascript:void(0)" class="well form-horizontal" ng-submit="sbuserinfo()" method="post" id="contact_form">
			<fieldset>
				<input class="users_id" ng-model="users.id" type="text" style=" display: none;position: absolute;">
				<div class="form-group">
					<label class="col-md-4 control-label">Username *</label> 
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="username" placeholder="Username" disabled="disabled" class="form-control username" ng-model="users.username"  type="text">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">Fullname *</label>  
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
							<input  name="fullname" placeholder="Full Name" class="form-control fullname" ng-model="users.fullname"  type="text">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">E-Mail *</label>  
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
							<input name="email" placeholder="E-Mail Address" class="form-control email"  ng-model="users.email"  type="text">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">Phone *</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
							<input name="tel" placeholder="Phone" class="form-control tel" ng-model="users.tel" type="text">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">Address *</label>  
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
							<input name="address" placeholder="Address" class="form-control address" ng-model="users.address" type="text">
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-4 control-label">Company *</label>  
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
							<input name="company" placeholder="Company" class="form-control company" ng-model="users.company" type="text">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">Description *</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
							<textarea class="form-control description" ng-model="users.description" name="description" placeholder="Description"></textarea>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label"></label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<div class="col-md-8 wapper-captcha1"><img src="/users/captcha" class="captcha" alt=""></div>
							<div class="col-md-4 reload"> <span class="btn btn-success reload_captcha cursor-point" style="margin-top: 5px;"><i class="fa fa-refresh" aria-hidden="true" style="font-size: 1.4em;"></i></span></div><br/></br/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label"></label>  
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-qrcode"></i></span>
							<input type="text" name="captcha" class="form-control" placeholder="Captcha" id="captcha">   
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label"><?php echo __("");?></label>
					<div class="col-md-4">
						<button type="submit" class="btn btn-warning" >Submit <span class="glyphicon glyphicon-send"></span></button>
					</div>
				</div>

			</fieldset>
		</form>
	</div>
</div>
<script src="/js/theme.js"></script>
