
<div class="content-page woocommerce" ng-controller="PlaceOrderCtrl">
	<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
		<h2 class="title-shop-page">checkout</h2>
			<div class="col-md-6 col-sm-6 col-ms-12" >
				<div class="check-billing" >
					<form class="form-my-account" ng-submit="order_info()">
						<h2 class="title">Billing Details</h2>
						<p class="clearfix box-col2">
							<input type="text" ng-model="info.firstname" placeholder="First Name *" />
							<input type="text" ng-model="info.lastname" placeholder="Last name *"/>
						</p>
						<p><input type="text" ng-model="info.company" placeholder="Company Name"/></p>
						<p class="clearfix box-col2">
							<input type="text" ng-model="info.email" placeholder="Email *"/>
							<input type="text" ng-model="info.phone" placeholder="Phone *"/>
						</p>
						<!-- <p>
							<select name="country" id="country">
								<option value="">Country*</option>
								<option value="">United State</option>
								<option value="">England</option>
								<option value="">Germany</option>
								<option value="">France</option>
								<option value="">China</option>
								<option value="">Korea</option>
								<option value="">Japan</option>
								<option value="">VietNam</option>
							</select>
						</p> -->
						<p><input type="text" ng-model="info.address" placeholder="Address *"/></p>
						<p class="clearfix box-col2">
							<!-- <input type="text" ng-model="info.postcode_zip" placeholder="Postcode / Zip"/> -->
							<input type="text" ng-model="info.city" placeholder="Town / City *"/>

							<input type="text" ng-model="info.country" placeholder="Country *"/>
						</p>
						<!-- <p>
							<input type="text" ng-model="info.country" placeholder="Country *"/>
						</p> -->
						<p>
							<input type="checkbox" id="create-account" /> <label for="create-account">Create an account?</label>
						</p>
						<div id="create-password" style="display: none;">
							<p>
								<input type="password"  placeholder="Password *"/>
							</p>
							<p>
								<input type="password"  placeholder="Comfirm Password *"/>
							</p>
						</div>
						<md-button type="submit" id="update_cart" class="md-raised float-left md-primary"> Place Order</md-button>
					</form>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-ms-12">
				<h2 class="title">Your Order</h2>
				<div class="table-responsive">
				<table class="shop_table woocommerce-checkout-review-order-table">
					<thead>
						<tr>
							<th class="product-name">Product</th>
							<th class="product-total" style="width: 170px;">Total</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(k, c) in cart_new" class="cart_item cart_item_new cart_item_{{c.id}}" id="{{c.id}}">
					
							<td class="product-name">
								{{c.product_name}}&nbsp; <span class="product-quantity">× {{c.quantity}}</span>
							</td>
							<td class="product-total">
								<span class="amount">{{ c.retail_price*c.quantity | currency : "$ " : 2 }} </span>						
							</td>
						</tr>
						
					</tbody>
					<tfoot>
						<tr class="cart-subtotal">
							<th>Subtotal</th>
							<td><strong class="amount">{{cart_new | sumOfValue: "quantity" | currency : "$ " : 2}}</strong></td>
						</tr>
						<tr class="cart-Shipping">
							<th>Shipping</th>
							<td><strong class="amount">$ 0</strong></td>
						</tr>
						<tr class="order-total">
							<th>Total</th>
							<td><strong><span class="amount">{{cart_new | sumOfValue: "quantity" | currency : "$ " : 2}}</span></strong> </td>
						</tr>
					</tfoot>
				</table>
			</div>
			</div>
		<!-- <a href="/pages/accounts#/order_received">
			<md-button id="update_cart" class="md-raised float-right md-primary"> Place Order</md-button>
		</a> -->
	</div>
</div>
