
<div class="content-page woocommerce" ng-controller="PlaceOrderCtrl">
	<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
		<h2 class="title-shop-page">checkout</h2>
			<div class="col-md-6 col-sm-6 col-ms-12" >
				<div class="check-billing" >

					<form name="info" class="form-my-account" ng-submit="order_info()" novalidate>
						<h2 class="title">Billing Details</h2>
						<div class="form-group" ng-class="{ 'has-error' : info.fullname.$invalid && !info.fullname.$pristine }">
							<input type="text" name="fullname" class="form-control" ng-model="user.fullname" placeholder="Fullname*" required>
							<p ng-show="info.fullname.$invalid && !info.fullname.$pristine" class="help-block">Your Fullname is required.</p>
						</div>
					
						<div class="form-group" ng-class="{ 'has-error' : info.company.$invalid && !info.company.$pristine }">
							<input type="text" name="company" class="form-control" ng-model="user.company" placeholder="Company Name*" required>
							<p ng-show="info.company.$invalid && !info.company.$pristine" class="help-block">Your company is required.</p>
						</div>

						<div class="form-group" ng-class="{ 'has-error' : info.email.$invalid && !info.email.$pristine }">
							<input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Email*" required>
							<p ng-show="info.email.$invalid && !info.email.$pristine" class="help-block">Enter a valid email.</p>
						</div>

						<div class="form-group" ng-class="{ 'has-error' : info.phone.$invalid && !info.phone.$pristine }">
							<input type="text" name="phone" class="form-control" ng-model="user.phone" placeholder="Phone Number" ng-minlength="10" ng-maxlength="12" ng-pattern="/^\d+$/" required>
							<p ng-show="info.phone.$error.pattern" class="help-block">Not a valid number!</p>
							<p ng-show="info.phone.$error.minlength" class="help-block">Phone Number must be at least 10 characters.</p>
							<p ng-show="info.phone.$error.maxlength" class="help-block">Phone Number must be longer than 12 characers.</p>
						</div>
						
						<div class="form-group" ng-class="{ 'has-error' : info.address.$invalid && !info.address.$pristine }">
							<input type="text" name="address" class="form-control" ng-model="user.address" placeholder="Address*" required>
							<p ng-show="info.address.$invalid && !info.address.$pristine" class="help-block">Your address is required.</p>
						</div>

						<div class="form-group" ng-class="{ 'has-error' : info.postcode.$invalid && !info.postcode.$pristine }">
							<input type="text" name="postcode" class="form-control" ng-model="user.postcode" placeholder="Postcode*" required>
							<p ng-show="info.postcode.$invalid && !info.postcode.$pristine" class="help-block">Your Postcode is required.</p>
						</div>
						
						<script src="../js/libs/countrystatecity.js"></script>
						<div class="form-group">
							<select name="country" ng-model="user.country" class="countries" id="countryId">
								<option value="">Select Country*</option>
							</select>
						</div>

						<div class="form-group">
							<select name="state" ng-model="user.city" class="states" id="stateId">
								 <option value="">Select State*</option>
							</select>
						</div>
						
						<select name="city" class="cities" id="cityId" style="display: none;">
							<option value="">Select City</option>
						</select>
						
						<button type="submit" class="btn btn-primary"  ng-disabled="info.$invalid">Submit</button>
					</form>
			
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-ms-12">
				<h2 class="title">Your Order</h2>
				<div class="table-responsive">
				<table class="shop_table woocommerce-checkout-review-order-table">
					<thead>
						<tr>
							<th class="product-name">Product</th>
							<th class="product-total" style="width: 170px;">Total</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(k, c) in cart_new" class="cart_item cart_item_new cart_item_{{c.id}}" id="{{c.id}}">
							<td class="product-name">
								{{c.product_name}}&nbsp; <span class="product-quantity">× {{c.quantity}}</span>
							</td>
							<td class="product-total">
								<span class="amount">{{ c.retail_price*c.quantity | currency : " " : 0}} 원</span>						
							</td>
						</tr>
						
					</tbody>
					<tfoot>
						<tr class="cart-subtotal">
							<th>Subtotal</th>
							<td><strong class="amount">{{cart_new | sumOfValue: "quantity" | currency : " " : 0}} 원</strong></td>
						</tr>
						<tr class="cart-Shipping">
							<th>Shipping</th>
							<td><strong class="amount"> 0 원</strong></td>
						</tr>
						<tr class="order-total">
							<th>Total</th>
							<td><strong><span class="amount">{{cart_new | sumOfValue: "quantity" | currency : " " : 0}} 원</span></strong> </td>
						</tr>
					</tfoot>
				</table>
			</div>
			</div>
		<!-- <a href="/pages/accounts#/order_received">
			<md-button id="update_cart" class="md-raised float-right md-primary"> Place Order</md-button>
		</a> -->
	</div>
</div>
