<div id="content">
		<div class="content-page woocommerce">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
						<h2 class="title-shop-page">checkout</h2>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-ms-12">
								<div class="check-billing">
									<form class="form-my-account">
										<h2 class="title">Billing Details</h2>
										<p class="clearfix box-col2">
											<input type="text" value="First Name *" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />
											<input type="text" value="Last name *" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />
										</p>
										<p><input type="text" value="Company Name" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" /></p>
										<p class="clearfix box-col2">
											<input type="text" value="Email *" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />
											<input type="text" value="Phone *" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />
										</p>
										<p>
											<select name="country" id="country">
												<option value="">Country*</option>
												<option value="">United State</option>
												<option value="">England</option>
												<option value="">Germany</option>
												<option value="">France</option>
												<option value="">China</option>
												<option value="">Korea</option>
												<option value="">Japan</option>
												<option value="">VietNam</option>
											</select>
										</p>
										<p><input type="text" value="Address *" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" /></p>
										<p class="clearfix box-col2">
											<input type="text" value="Postcode / Zip" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />
											<input type="text" value="Town / City *" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />
										</p>
										<p>
											<input type="checkbox"  id="remember" /> <label for="remember">Create an account?</label>
										</p>
									</form>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-ms-12">
								<h2 class="title">Your Order</h2>
								<div class="table-responsive">
								<table class="shop_table woocommerce-checkout-review-order-table">
									<thead>
										<tr>
											<th class="product-name">Product</th>
											<th class="product-total">Total</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="(k, c) in cart_new" class="cart_item cart_item_new cart_item_{{c.id}}" id="{{c.id}}">
									
											<td class="product-name">
												{{c.product_name}}&nbsp; <span class="product-quantity">× {{c.quantity}}</span>
											</td>
											<td class="product-total">
												<span class="amount">{{ c.retail_price*c.quantity | currency : "$ " : 2 }} </span>						
											</td>
										</tr>
										
									</tbody>
									<tfoot>
										<tr class="cart-subtotal">
											<th>Subtotal</th>
											<td><strong class="amount">{{cart_new | sumOfValue: "quantity" | currency : "$ " : 2}}</strong></td>
										</tr>
										<tr class="cart-Shipping">
											<th>Shipping</th>
											<td><strong class="amount">$ 0</strong></td>
										</tr>
										<tr class="order-total">
											<th>Total</th>
											<td><strong><span class="amount">{{cart_new | sumOfValue: "quantity" | currency : "$ " : 2}}</span></strong> </td>
										</tr>
									</tfoot>
								</table>
							</div>
							</div>
						</div>
						
						<md-button id="update_cart" class="md-raised float-right md-primary"> Place Order</md-button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Content Page -->
	</div>