

<div class="tab-container">
	<form method="post" name="projectForm" enctype='multipart/form-data' accept-charset="utf-8" id="FrmEditProducts" role="form">
		<md-tabs md-selected="selectedTab" style=" min-height:790px !important;">
			<md-tab label="Infomations">
				<div class="tab-content">
					<input type="text" name="id" class="form-control hidden" value="{{products.id}}" id="id">
					<div id="info" class="col s12">
						<div class="col-lg-6 col-md-6">
						
							<md-input-container class="md-block" flex-gt-sm>
								<label>Part No/ Code</label>
								<input md-maxlength="30" name="sku" id="sku" ng-model="products.sku" />
							</md-input-container>

							<md-input-container class="md-block" flex-gt-sm>
								<label>Products Name</label>
								<input required md-maxlength="50" name="product_name" id="product_name" ng-model="products.product_name" />
								<div ng-messages="projectForm.product_name.$error">
									<div ng-message="required">This is required.</div>
									<div ng-message="md-maxlength">The name must be less than 50 characters long.</div>
								</div>
							</md-input-container>
								
							<md-input-container class="md-block">
								<label>Price (USD)</label>
								<input required type="text" currency-mask step="any" min="1" name="retail_price" id="retail-price" ng-model="products.retail_price"/>
								<div ng-messages="projectForm.retail_price.$error" multiple md-auto-hide="false">
									<div ng-message="required"> This is required. </div>
									<div ng-message="min">
										You should charge at least $1 an hour. This job is a big deal... if you mess up, everyone dies!
									</div>
								</div>
							</md-input-container>

							<!-- <div class="form-group text">
								<label class="control-label" for="sku">Part No/ Code</label>
								<input type="text" name="sku" class="form-control sku" value="{{products.sku}}" placeholder="Part No/ Code" id="sku">
							</div>
							<div class="form-group text">
								<label class="control-label" for="product-name">Products Name</label>
								<input type="text" name="product_name" class="form-control product_name" value="{{products.product_name}}" placeholder="Products Name" id="product-name">
							</div>
							<div class="form-group text">
								<label class="control-label" for="retail-price">Retail Price</label>
								<input type="text" name="retail_price" class="form-control auto retail_price" value="{{products.retail_price | currency: ''}}" placeholder="USD" id="retail-price">
							</div> -->
							<label for="exampleCategories" style="color: #bdbdbd;">Categories</label>
							<md-input-container class="md-block" flex-gt-sm>
								<md-select name="category_id" ng-model="products.category.id" aria-label="Select" required>
									<md-option ng-repeat="(k, c) in categories" value="{{c.key}}">{{c.value}}</md-option>
								</md-select>
							</md-input-container>

							<!-- <div class="form-group">
								<label for="exampleInputGroups">Categories</label>
								<select class="form-control" id="categories" ng-model="products.category.id" ng-options="c.key as c.value for c in categories" required></select>
							</div> -->
						</div>
						<div class="col-lg-6 col-md-6">
							</md-input-container>
								<md-input-container class="md-block" flex-gt-sm>
								<label class="control-label" for="serial-no">Serial No</label>
								<input md-maxlength="30"  name="serial_no" id="serial-no" ng-model="products.serial_no" />
							</md-input-container>
							</md-input-container>
								<md-input-container class="md-block" flex-gt-sm>
								<label class="control-label" for="type-model">Type Model</label>
								<input md-maxlength="30" name="type_model" id="type-model" ng-model="products.type_model" />
								
							</md-input-container>
							</md-input-container>
								<md-input-container class="md-block" flex-gt-sm>
								<label class="control-label" for="quantity">Quantity</label>
								<input required name="quantity" id="quantity" ng-model="products.quantity" />
								<div ng-messages="projectForm.quantity.$error">
									<div ng-message="required">This is required.</div>
									
								</div>
							</md-input-container>
							</md-input-container>
								<md-input-container class="md-block" flex-gt-sm>
								<label class="control-label" for="origin">Origin</label>
								<input md-maxlength="30" name="origin" id="origin" ng-model="products.origin" />
								
							</md-input-container>
							</md-input-container>
								<md-input-container class="md-block" flex-gt-sm>
								<label class="control-label" for="unit">Unit</label>
								<input md-maxlength="30" required name="unit" id="unit" ng-model="products.unit" />
								<div ng-messages="projectForm.unit.$error">
									<div ng-message="required">This is required.</div>
									<div ng-message="md-maxlength">The Unit must be less than 30 characters long.</div>
								</div>
							</md-input-container>
							<!-- <div class="form-group text">
								<label class="control-label" for="serial-no">Serial No</label>
								<input type="text" name="serial_no" class="form-control serial_no" value="{{products.serial_no}}" placeholder="Serial No" id="serial-no">
							</div>
							<div class="form-group text">
								<label class="control-label" for="type-model">Type Model</label>
								<input type="text" name="type_model" class="form-control type_model" value="{{products.type_model}}" placeholder="Type Model" id="type-model">
							</div>  
							<div class="form-group text">
								<label class="control-label" for="quantity">Quantity</label>
								<input type="text" name="quantity" class="form-control auto quantity" value="{{products.quantity}}" placeholder="Quantity" id="quantity">
							</div>
							<div class="form-group text">
								<label class="control-label" for="origin">Origin</label>
								<input type="text" name="origin" class="form-control origin" value="{{products.origin}}" placeholder="Origin" id="origin">
							</div>
							<div class="form-group text">
								<label class="control-label" for="unit">Unit</label>
								<input type="text" name="unit" class="form-control unit" value="{{products.unit}}" placeholder="Unit" id="unit">
							</div> -->
						</div>
						<div class="col-md-12 col-lg-12">
							<label class="control-label" for="Short_Description">Remark</label>
							<textarea ckeditor="options" id="short_description" ng-model="products.short_description"></textarea>
						</div>
					</div>
				</div>
			</md-tab>
			<md-tab label="Descriptions">
				<div class="tab-content">
					<div class="col-md-12 col-lg-12">
						<label class="control-label" for="Description">Descriptions</label>
						<textarea ckeditor="options" id="description" ng-model="products.description"></textarea>
						<br/>
						<div class="input-group">
							<input type="file" name='files[]' multiple="multiple" />  
							
							<output id="listProductFile" class="float-left" ng-repeat="i in images">
								<img ng-src="/img/{{i.thumbnail}}" alt="" width="100">		
							</output>
						</div>
					</div>
				</div>
			</md-tab>
			
		</md-tabs>
		<button class="btn btn-success" id="sb-add-products" type="submit">Submit</button>
	</form>
</div>


 <!-- 
	<div class="tab-container">
		<form method="post" enctype='multipart/form-data' accept-charset="utf-8" id="FrmEditProducts" role="form">
			<md-tabs md-selected="selectedTab">
			
				<md-tab label="Infomations">
					<div class="tab-content">
						Tab One content
					</div>
				</md-tab>
				<md-tab label="Descriptions">
					<div class="tab-content">
						Tab Two content
					</div>
				</md-tab>
				
			</md-tabs>
			<button class="btn btn-success" id="sb-add-products" type="submit">Submit</button>
		</form>
	</div> -->
<script src="/js/myapp/snj_custom.js"></script>