
<div class="tab-container" ng-controller="EditProductAct">
	<form method="post" ng-submit="frm_edit_products()" name="projectFormEdit" enctype='multipart/form-data' accept-charset="utf-8" role="form">

		<md-tabs md-selected="selectedTab" >

			<md-tab label="General">
				<div class="tab-content">
					<div class="col-lg-6 col-md-6">
						
						<md-input-container class="md-block" flex-gt-sm>
							<label>Code</label>
							
							<input type="text" md-maxlength="30" required ng-model="products.sku" name="products.sku" >
							<div ng-messages="projectFormEdit.sku.$error">
								<div ng-message="required">This is required.</div>
								<div ng-message="md-maxlength">The name must be less than 30 characters long.</div>
							</div>
						</md-input-container>

						<md-input-container class="md-block" flex-gt-sm>
							<label>Products Name</label>
							<input md-maxlength="255" type="text" required name="products.product_name" ng-model="products.product_name" />
							<div ng-messages="projectFormEdit.product_name.$error">
								<div ng-message="required">This is required.</div>
								<div ng-message="md-maxlength">The name must be less than 255 characters long.</div>
							</div>
						</md-input-container>
							
						<md-input-container class="md-block">
							<label>Retail Price (원)</label>
							<input required type="text" currency-mask step="any" min="1" name="products.retail_price" ng-model="products.retail_price"/>

							<div ng-messages="projectFormEdit.retail_price.$error" multiple md-auto-hide="false">
								<div ng-message="required"> This is required. </div>
								<div ng-message="min">You should charge at least $1 an hour. This job is a big deal... if you mess up,
									everyone dies!
								</div>
							</div>
						</md-input-container>

						<md-input-container class="md-block">
							<label>Supplier's Price (원)</label>
							<input type="text" currency-mask step="any" min="1" name="products.supply_price" ng-model="products.supply_price"/>

							<div ng-messages="projectFormEdit.supply_price.$error" multiple md-auto-hide="false">
								
								<div ng-message="min">You should charge at least $1 an hour. This job is a big deal... if you mess up,
									everyone dies!
								</div>
							</div>
						</md-input-container>

						<md-input-container class="md-block">
							<label>VAT (10%)</label>
							<input  type="checkbox" name="products.vat" ng-model="products.vat"/>
						</md-input-container>

					</div>
					<div class="col-lg-6 col-md-6">
						
						<md-input-container class="md-block" flex-gt-sm>
							<label class="control-label" for="quantity">Quantity</label>
							<input type="text" name="products.quantity" ng-model="products.quantity" />
							
						</md-input-container>
						
						<label for="exampleCategories" style="color: #bdbdbd;">Conditions</label>
						<md-input-container flex="50">
							<md-select name="type" ng-model="products.conditions" aria-label="Select" >
								
								<md-option ng-repeat="(k, c) in conditions" value="{{c.key}}" >{{c.value}}</md-option>
							</md-select>
						</md-input-container>

						<label for="exampleCategories" style="color: #bdbdbd;">Categories</label>
						<md-input-container flex="50">
							<md-select name="type" ng-model="cat_id" aria-label="Select" >
								
								<md-option ng-repeat="(k, c) in categories" value="{{c.key}}" >{{c.value}}</md-option>
							</md-select>
						</md-input-container>

						<label for="exampleManufacturer" style="color: #bdbdbd;">Manufacturer</label>
						<md-input-container flex="50">
							<md-select name="type" ng-model="products.supplier_id" aria-label="Select" >
								<md-option ng-repeat="(k, c) in suppliers" value="{{c.key}}" >{{c.value}}</md-option>
							</md-select>
						</md-input-container>
					
					</div>
					
					
				</div>
			</md-tab>
			<md-tab label="Infomations">
				<div class="">
					<div class="col-lg-4 col-md-4">
						<div class="form-group text">
							<label class="control-label" for="release-date">Release Date</label>
							<input type="text" name="products.release_date" class="form-control date-picker" placeholder="Release date" ng-model="products.release_date" value="2017-10-19">
						</div>

						<div class="form-group text">
							<label class="control-label" for="size">Size</label>
							<input type="text" name="products.size" class="form-control" placeholder="Size" ng-model="products.size">
						</div>
						<div class="form-group text">
							<label class="control-label" for="brand">Brand</label>
							<input type="text" name="products.brand" class="form-control" placeholder="Brand" ng-model="products.brand">
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="form-group text">
							<label class="control-label" for="weight">Weight</label>
							<input type="text" name="products.weight" class="form-control" placeholder="Weight" ng-model="products.weight">
						</div>
						<div class="form-group text">
							<label class="control-label" for="color">Color</label>
							<input type="text" name="products.color" class="form-control" placeholder="Color" ng-model="products.color">
						</div>
						<div class="form-group text">
							<label class="control-label" for="meterial">Meterial</label>
							<input type="text" name="products.meterial" class="form-control" placeholder="Material" ng-model="products.meterial">
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="form-group text">
							<label class="control-label" for="manufacturer">Manufacturer</label>
							<input type="text" name="products.manufacturer" class="form-control" placeholder="Manufacturer" ng-model="products.manufacturer">
						</div>
						<div class="form-group text">
							<label class="control-label" for="composition">Composition</label>
							<input type="text" name="products.composition" class="form-control" placeholder="Composition" ng-model="products.composition">
						</div>
						<div class="form-group text">
							<label class="control-label" for="origin">Origin</label>
							<input type="text" name="products.origin" class="form-control" placeholder="Origin" ng-model="products.origin">
						</div>
					</div>

					<div class="form-group text">
						<input type="text" name="properties" class="form-control hidden" id="result">
					</div>
					<div class="clearfix divider10"></div>
					<div class="menthod-product col-lg-8 col-sm-8">
						
						<div class="mth-prd" ng-repeat="(k, propertie) in properties">
							<span class="col-md-5"><input type="text" placeholder="Label" ng-model="propertie.label" class="label123 form-control"></span>
							<span class="col-md-6"><input type="text" placeholder="Value" ng-model="propertie.value" class="value123 form-control"></span>
							<span class="col-md-1 remove-jtfd"><span class="btn"><i class="fa fa-trash-o"></i></span></span>
						</div>
					</div>
					<div class="col-lg-2 col-sm-2">
						<span class="btn btn-success btn-trash-image waves-effect waves-button waves-red" ng-click="add_mtd()">
							<i class="fa fa-plus"></i>
						</span>
					</div>
				</div>
			</md-tab>
			<md-tab label="Descriptions">
				<div class="tab-content">
					<div class="col-md-12 col-lg-12">
						<label class="control-label" for="Description">Descriptions</label>
						<textarea ckeditor="options" id="description" ng-model="products.description"></textarea>
						<br/>
						<label class="control-label" for="Short Description">Short Descriptions</label>
						<textarea ckeditor="options" id="short_description" ng-model="products.short_description"></textarea>
					</div>
				</div>
			</md-tab>
			<md-tab label="Options">
				
				<h4 class="order_summary">Products Options</h4>
					<div class="table-responsive col-lg-12">
						<div class="table-responsive col-lg-12">
							<table class="table table-striped ">
								<thead>
									<tr>
										<th class="width15">Status</th>
										<th>Name</th>
										<th class="width20">Default</th>
										<th class="width1">&nbsp;</th>
									</tr>
								</thead>
								<tbody id="tbody-options" ng-repeat="(key, option1) in options_old">

									<tr ng-repeat="(k1, o1) in option1">
										
										<td><div class="checker"><span><input type="checkbox"></span></div></td>
										<td >
											<span class="tr_options_1" parant_id="1" parant_name="Size" chil_name="S" chil_id="16">
												<b>{{key}}</b>: {{o1}}</span>
										</td>
										<td>None</td>
										<td><span class="trash-option"><i class="fa fa-trash"></i></span></td>
									
									</tr>
								</tbody>
									<tfoot>
										<tr>
											<td><span>Add New</span></td>
											<td>
												<select id="slt-options" class="form-control">
													<option value="NULL">-- Please Select --</option>

													<optgroup ng-repeat="(k, option) in options" label="{{option.name}}">
														<option ng-repeat="(k, children) in option.children"  parent_id="{{children.parent_id}}" parent_name="{{option.name}}" value="{{children.id}}">{{children.name}}</option>
													</optgroup>
													
												</select>
											</td>
											<td colspan="2"><span class="btn btn-info" ng-click="btn_options()"><i class="fa fa-plus"></i></span></td>
										</tr>
									</tfoot>
							</table>
							<div class="form-group text">
								<input type="text" name="product_options" class="form-control hidden" id="ipt_options"></div>
							</div>
						
					</div>
			</md-tab>
			<md-tab label="Images">
				<div class="tab-content">
					<div class="col-md-12 col-lg-12">
						
						<div class="input-group">
							<input type="file" id="product-files" file-input="files" multiple="multiple" />
						</div>
					</div>
				</div>
			</md-tab>
		</md-tabs>
		<button class="btn btn-success" type="submit">Submit</button>
	</form>
</div>

