
<div class="row" ng-controller="AddMyCartCtrl">
	<div class="col-md-12 col-sm-12 col-xs-12">
		
		<div id="content">
			<div class="content-page woocommerce1">
				<div class="container">
					<div class="cart-content-page">
						<h2 class="title-shop-page">my cart</h2>
						
						<div class="table-responsive">
							<table class="table">
								
								<tbody style="border-bottom: 1px solid #e4e4e4;">
									<tr ng-repeat="(k, c) in cart" class="cart_item_new cart_item_{{c.id}}" id="{{c.id}}">
										<td style="width: 220px;"><img ng-src="/img/{{c.thumbnail}}" width="40%"></td>
										
										<td class="product-name" style="width: 300px;">
											<a href="/pages/products/{{c.id}}">{{c.product_name}}</a>
										</td>
										<td class="price">
											<b>{{ c.retail_price | currency : " " : 0 }} 원</b>
										</td>
										<td class="text-center product-quantity">
											<div class="info-qty" id="{{c.id}}">
												<a ng-click="myfuncdown(c.id)" class="qty-down">
													<i class="fa fa-angle-left"></i>
												</a>
													<span class="qty-val qty-val-{{c.id}}">{{c.quantity}}</span>
												<a ng-click="myfuncup(c.id)" class="qty-up">
													<i class="fa fa-angle-right"></i>
												</a>
											</div>			
										</td>
										<td class="text-center product-remove" style="width: 40px">
											<span class="remove-items" ng-click="removeitems(c.id)" data-id="{{c.id}}"><i class="fa fa-trash"></i></span>
										</td>
										
									</tr>

							
								</tbody>
							</table>
							
							<div ng-if="auth === true">
								<a href="/pages/accounts#/checkout">
									<md-button class="md-raised float-right md-primary"><i class="fa fa-paper-plane"></i> Process to Checkout</md-button>
								</a>
							</div>
							<div ng-if="auth === false">
								<a href="/pages/accounts#/process_checkout">
									<md-button class="md-raised float-right md-primary"><i class="fa fa-paper-plane"></i> Process to Checkout</md-button>
								</a>
							</div>
						
							<md-button id="update_cart" ng-click="update_cart()" class="md-raised float-right md-primary">Update cart</md-button>
						</div>
					</div>
				</div>	
			</div>
		</div>

	</div>
</div>
<script src="/js/myapp/snj_custom.js"></script>